.mobile__menu{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.menu__item{
    padding: 15px;
}